p {
  color: darkred;
	font-weight: bold;
}

h1, h2 {
	border: 2px solid grey;
}

#firstid {
	color: blue;
}

.secondclass {
	color: navy;
}

.firstclass {
	color: darkslateblue;
}

img[src="images/borto-1.jpg"] {
	height: 100px;
	width: 50px;
}

img {
	height: 100px;
	width: 100px;
}

#thirdid:hover {
	color: orange;
	font-size: 40px;
}

html {
  font-size: 15px; /* px means "pixels": the base font size is now 15 pixels high  */
  font-family: "Source Serif Pro", serif; /* this should be the rest of the output you got from Google fonts */
	background-color: wheat;
}
/* font-family: "Sansita Swashed", cursive; this should be the rest of the output you got from Google fonts */

/* comment */

#fourthid {
	color: teal;
	border: 1px solid cyan;
}

h1 {
	background-color: yellow;
	font-size: 60px;
	text-align: center;
	margin: 0;
}

ul {
	background-color: yellow;
}

p, li {
	font-size: 16px;
	line-height: 4;
	letter-spacing: 1px
}

#old-page {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: Serif;
	background-color: palegreen;
	border: 2px solid red;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: thistle;
	padding: 10px 15px 20px 25px;
	border: 5px solid fuchsia;
}

h2 {
	margin: 0;
	padding: 20px 0;
	color: darkgreen;
	text-shadow: 3px 3px 1px lightblue;
}

img {
	display: block;
	margin: 0 auto;
}
