html {
  /* font-size: 15px; /* px means "pixels": the base font size is now 15 pixels high  */
  font-family: "Source Serif Pro", serif; /* this should be the rest of the output you got from Google fonts */
	background-color: black;
	color: white;
}
/* font-family: "Sansita Swashed", cursive; this should be the rest of the output you got from Google fonts */

/* comment */

body {
	width: 40rem;
	margin: 20px auto 20px;
	background-color: black;
	padding: 10px 15px 20px 15px;
	border: 0.1rem solid #00564F;
}

h1 {
	border: 0.1rem solid #4300B7;
	background-color: black;
	font-size: 2rem;
	text-align: center;
}

#button {
	display: block;
	margin: 0 auto;
}

ul {
	background-color: #001E28;
}

p, li {
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: 0.05rem;
}

p {
  color: #FFB999;
}

h2 {
	padding: 5px 15px;
	color: #99FFB9;
	font-weight: bold;
}

img[src="images/pen-75.jpg"] {
	height: 50px;
	width: 150px;
}

img {
	height: 100px;
	width: 100px;
	padding: 0 1rem;
}

#h2-1 {
	text-shadow: 0.08rem 0.08rem 0.08rem silver;
}

#thirdid:hover {
	color: #FFA500;
	font-size: 3rem;
}

#fourthid {
	color: #B999FF;
	border: 0.1rem solid #B999FF;
	text-align: center;
}

.secondclass {
	color: #99FFEC;
}

#firstid {
	color: #E6E6FA;
}

.firstclass {
	color: #EC84FF;
}

#old-page {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	font-family: Serif;
	background-color: #0C001B;
	border: 0.1rem solid #510001;
}

#idlastbacktotop {
	text-align: center;
}

:any-link {
	color: #7E7EFF;
}
