@import url(https://raw.githubusercontent.com/bortoslovo/bortoslovo/master/mdn/at-import-2.css);

html {
	background: black;
	color: white;
}
body {
	width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background: #000055;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	border: 2px solid lime;
	border-radius: 20px;
	padding: 10px;
	width: 600px;
	margin: 0 auto;
}
.container > * {
	border: 2px solid wheat;
	border-radius: 20px;
	padding: 10px;
}
.container-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	border: 2px solid lime;
	border-radius: 20px;
	padding: 10px;
	width: 600px;
	margin: 0 auto;
}
.container-2 > * {
	border: 2px solid wheat;
	border-radius: 20px;
	padding: 10px;
}
h1, h2 {
	text-align: center;
	margin: 50px 0 10px 0;
}
.container-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	border: 2px solid lime;
	border-radius: 20px;
	padding: 10px;
	width: 600px;
	margin: 0 auto;
}
.container-3 > * {
	border: 2px solid wheat;
	border-radius: 20px;
	padding: 10px;
	margin: 0;
}
.container-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	border: 2px solid lime;
	border-radius: 20px;
	padding: 10px;
	width: 600px;
	margin: 0 auto;
}
.container-4 > * {
	border: 2px solid wheat;
	border-radius: 20px;
	padding: 10px;
	margin: auto;
}
