p {
  color: red;
	font-weight: bold;
}

h1, h2, h3 {
	border: 2px solid grey;
}

#firstid {
	color: blue;
}

.secondclass {
	color: olive;
}

img[src="../images/borto-1.jpg"] {
	height: 50px;
	width: 500px;
}

img {
	height: 200px;
	width: 50px;
}

#thirdid:hover {
	color: orange;
	font-size: 40px;
}

html {
  font-size: 15px; /* px means "pixels": the base font size is now 15 pixels high  */
  font-family: "Sansita Swashed", cursive; /* this should be the rest of the output you got from Google fonts */
	background-color: wheat;
}

/* comment */

#fourthid {
	color: teal;
	width: 500px;
	border: 1px solid cyan;
}

h1 {
	background-color: yellow;
	font-size: 60px;
	text-align: center;
}

ul {
	background-color: yellow;
}

p, li {
	font-size: 16px;
	line-height: 4;
	letter-spacing: 9px
}
