html {
  background-color: lightgreen;
  font-size: 100%;
}

body {
	width: 40rem;
	margin: 0 auto;
}

ul {
  background: lightsalmon;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

#h2-1 {
	font-size: 0.9rem;
}

#p-1 {
	font-size: 0.8rem;
}
